/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Nunito";
  src: url("../font/nunito-regular-webfont.woff2") format("woff2"), url("../font/nunito-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "NunitoBold";
  src: url("../font/nunito-bold-webfont.woff2") format("woff2"), url("../font/nunito-bold-webfont.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* Beneficios */
  /* colors */
  --azul-marino: #19495d;
  --verde-claro: #188a8b;
  --verde-oscuro: #0c4546;
  --beige: #f9e4d4;
  /* Index */
  /* colors */
  --azul-marino: #19495d;
  --verde-claro: #188a8b;
  --verde-oscuro: #0c4546;
  --beige: #f9e4d4;
}
/* ******************************** */
html {
  font-family: "Nunito", sans-serif;
  background-image: url(../img/smartphone/banner_zenith.webp);
  background-repeat: no-repeat;
  background-size: 100vw;
}

/* BANNER */
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner {
    width: 100vw;

    .banner__titulo {
      display: flex;
      justify-content: center;
      margin-top: 10vw;
      font-size: 14px;
      height: 50px;
      color: var(--verde-oscuro);

      .titulo__img {
        margin: 0 10px;
      }
    }

    .banner__texto {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: 3vh;

      .texto__circulo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        background-color: var(--verde-claro);
        border: 1px solid white;
        border-radius: 12.5px;
        color: var(--beige);

        h4 {
          height: 22px;
        }
      }

      .texto__parrafo {
        width: 240px;
        text-align: center;
        color: white
      }
    }
  }

  .contador {
    margin-top: 2vh;
    width: 80vw;
    height: 80vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/smartphone/pasos.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .contador__circuloext {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 70vw;
      height: 70vw;
      border: 2px solid var(--verde-oscuro);
      border-radius: 50%;

      .circuloext__circuloint {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        background-color: var(--verde-claro);
        opacity: 95%;
        border: 3px solid var(--beige);
        border-radius: 50%;

        .circuloint__linea {
          width: 2vw;
          height: 15%;
          background-color: var(--beige);
          border-radius: 0 0 1vw 1vw;
          opacity: 100%;
        }

        .circuloint__lungs {
          height: 50%;
        }

        .circuloint__start {
          font-family: "NunitoBold", sans-serif;
          height: 35%;
          font-size: 30px;
          -webkit-text-stroke: 1px black;
        }
      }
    }
  }
}
